GRPC_URL=0.0.0.0:4001
HTTP_PORT=5001
REDIS_URL=redis://redis:6379
WEATHER_API_URL=http://api.weatherapi.com/v1/
OPEN_WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather?q=
API_KEY=
OPEN_WEATHER_API_KEY=
